USERDB_POSTGRES_PASSWORD=change_me_user_db_password

# Important:
# Inside Docker Compose, use the service name "user-db" as the host.
# Do not use localhost here.
UserDbConnectionString=Host=user-db;Port=5432;Database=user_db;Username=postgres;Password=change_me_user_db_password

JwtIssuer=order-dispatch-system
JwtAudience=order-dispatch-system-clients
JwtKey=change_me_super_secret_jwt_key_at_least_32_chars